## 184. Восстановление коэффициентов

ml - легкая

Необходимо восстановить коэффициенты функции $f(x)$, зная её значения на некотором наборе точек.

При этом известно, что

$$f(x) = ((a + \varepsilon_a)\sin{x}+(b+\varepsilon_b)\ln{x})^2+(c+\varepsilon_c)x^2 \text{,}$$

где $\varepsilon_i$ — случайные величины, которые принимают значения из отрезка $[–0.001,0.001]$; $a,b,c$ — неизвестные положительные константы, которые требуется найти (абсолютная ошибка не должна превышать $10^{-2}$.

##### Формат ввода
В архиве находится файл data.csv, в каждой строке которого записаны два числа $x$ и $f(x)$, разделённые запятой.

##### Формат вывода
Выведите через пробел 3 вещественных числа с точностью 2 значащих цифры после десятичной точки, которые соответствуют набору $a,b,c$.

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('data.csv', names=['x', 'fx'])
df.head()

          x          fx
0  9.481538  394.853787
1  6.878546  238.295702
2  9.436524  393.053669
3  3.572694   55.666155
4  1.079596   13.537515

In [18]:
df = df.assign(sin_x = np.sin(df.x), ln_x = np.log(df.x))
df

            x          fx     sin_x      ln_x
0    9.481538  394.853787 -0.056729  2.249347
1    6.878546  238.295702  0.560808  1.928407
2    9.436524  393.053669 -0.011746  2.244588
3    3.572694   55.666155 -0.417871  1.273320
4    1.079596   13.537515  0.881767  0.076587
..        ...         ...       ...       ...
995  8.714093  366.701156  0.652353  2.164942
996  3.783151   60.254649 -0.598445  1.330557
997  9.104563  380.503300  0.314771  2.208776
998  1.717459   32.758233  0.989264  0.540846
999  7.288236  277.359814  0.844189  1.986262

[1000 rows x 4 columns]